body {
  text-align: center;
  background-color: black;
}

#title {
  font-family: "Stick No Bills", sans-serif;
  font-size: 4rem;
  color: rgb(222, 118, 27);
}

.container {
  display: block;
  margin: auto;
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 2px solid black;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.green {
  background-color: green;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 20%;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 20%;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 20%;
}

.blue {
  background-color: blue;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
